<fieldset>
<legend>Configuration</legend>
{{ `numberTrials` }}
{{ `numberFolds` }}
{{ `LabelGroup (27)` }}
{{ `targetField` }}
{{ `predFields` }}
{{ `stratified` }}
{{ `posClass` }}
{{ `displayGraphs` }}
</fieldset>
